.myimage{
    /* background-size: cover; */
    background-position: 50% 50%;
    height: 10vh;
    width: 10vh;
    border: 2px solid #333;
    
}

.myimage:hover{
    animation: parpadear 5s 30;
    animation-play-state: initial
}

@keyframes parpadear {
    0%, 10%{
        opacity: 1;
    }
    10%, 20%{
        opacity: 0.1;
    }
    20%, 30%{
        opacity: 1;
    }
    30%, 40%{
        opacity: 0.1;
    }
    40%, 50%{
        opacity: 1;
    }
    50%, 60%{
        opacity: 0.1;
    }
    60%, 70%{
        opacity: 1;
    }
    70%, 85%{
        opacity: 0.1;
    }
    85%, 100%{
        opacity: 0.9;
    }
    
    /* from { transform: rotate(0deg); }
    to { transform: rotate(360deg); } */
}

.mysubjectdescription{
    font-family: cursive;
    /* font-weight: 500; */
    line-height: 1;
    color: white;
    font-size: 3vh;
    /* font-weight: 500; */
}

div.scrollmenuhistorias {
    background: #00B4DB; 
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
background: linear-gradient(to right, #0083B0, #00B4DB); 

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: auto;
    white-space: nowrap
}

div.scrollmenuhistorias div{
    display: inline-block;
    /* color: rgb(27, 7, 7); */
    text-align: center;
    /* padding: 14px; */
    text-decoration: none;

    /* text-align: center; */
    /* height: inherit; */
    /* width: 60px; */
    /* padding-bottom: 40%; */
    /* background-position: 50% 50%;
    background-size: cover;
    border: 1vw solid black;
    background-repeat: no-repeat;
    
    border-top-left-radius: 6px;*/
    /* border-top-right-radius: 60px; */
}