.App {
  text-align:center;
}

.Container {
  display: inline-block;
  /* text-align: center; */
}

.Menu {
  /* display: inline-block; */
  /* padding: 1px; */
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap
}

.Menu2{
  display: inline-block
}

.Menu div {
  display: inline-block;
  text-align: center;
}

.recipeWhatsapp {
  margin: 0%;
  padding: 1px;
  margin-top: 4px;
  /* border-radius: 60px; */
  /* box-shadow: 0 7px 6px rgba(0,0,0,0.15); */
  /* width: 100%; */
  /* border-radius: 60px; */
  /* text-decoration: none; */
  /* box-shadow: 0 8px 6px rgba(0,0,0,0.15); */
}

.recipeWhatsapp .bg {
  display: block;
  /* text-align: center; */
  height: 60px;
  width: 60px;
  /* padding-bottom: 40%; */
  /* background-position: 50% 50%; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* border-top-right-radius: 6px; */
  /* border-top-left-radius: 6px; */
}

.recipe {
  /* width: 100%; */
  border-radius: 60px;
  /* text-decoration: none; */
  /* box-shadow: 0 7px 6px rgba(0,0,0,0.15); */
}

.recipe .bg {
  display: block;
  /* text-align: center; */
  height: 60px;
  width: 60px;
  /* padding-bottom: 40%; */
  background-position: 50% 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

h6{
  font-family: cursive;
  /* font-weight: 500; */
  line-height: 1;
  color: white;
}

/* .recipe .info {
  box-shadow: 0 7px 6px rgba(0,0,0,0.15);
  display: block;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
} */

/* .Menu div div{
  margin-right: 15px;
  border-radius: 80px;
  text-align: center;
} */

/* 
.recipes {
  display: grid;
  padding: 0px;
  margin-right: 7px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.recipe2 {
  width: 50%;
  border-radius: 60px;
  text-decoration: none;
  box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}

.recipe .bg {
  display: block;
  text-align: center;
  height: 60px;
  width: 60px;
  padding-bottom: 40%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.recipe .info {
  display: block;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
 */

 .redondear{
  padding-top: 3px;
  /* font-Size: 3rem; */
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  /* border-top-right-radius: 40px;
  border-bottom-right-radius: 40px; */
}

/* TRANSITIONS CSS */

.fade-appear{
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms linear
}

.fade-exit{
  opacity: 0;
  z-index: 1;
}

.fade-exit.fade-exit-active{
  opacity: 1;
  transition: opacity 1000ms linear
}

.fade-exit.fade-exit-active{
  opacity: 0;
}

.card_container{
  margin: 0 3px 3px 0px
}

.card_element_container{
  padding: 3px
}